<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bamboo.dao.DatasMapper">
    <!-- *********************************公共嵌入块********************************* -->
    <!-- 所有输出列 -->
    <sql id="publicOutCol">
        <!--         yascmf_contents.id AS id, -->
        datas.id AS id,
        datas.air_temperature AS airTemperature,
        datas.air_humidity AS airHumidity,
        datas.carbon_dioxide AS carbonDioxide,
        datas.soil_temperature AS soilTemperature,
        datas.soil_humidity AS soilHumidity,
        datas.insect_density AS insectDensity,
        datas.date_time AS dateTime
    </sql>

    <!-- 所有输入列 -->
    <sql id="publicInCol">
        <!--         #{id},#{flag},#{title},#{thumb},#{content},#{slug},#{type},#{userId},#{isTop},#{ownerId},#{outerLink},#{categoryId},#{deletedAt},#{createdAt},#{updatedAt} -->
        #{id},#{airTemperature},#{airHumidity},#{carbonDioxide},#{soilTemperature},#{soilHumidity},#{insectDensity},#{dateTime}
    </sql>

    <sql id="publicInsertCol">
        <!-- 		id,flag,title,thumb,content,slug,type,user_id,is_top,owner_id,outer_link,category_id,deleted_at,created_at,updated_at -->
        id,air_temperature,air_humidity,carbon_dioxide,soil_temperature,soil_humidity,insect_density,date_time
    </sql>

    <!-- 所有设值列 -->
    <sql id="publicSet">
        id = #{id},
        air_temperature = #{airTemperature},
        air_humidity = #{airHumidity},
        carbon_dioxide = #{carbonDioxide},
        soil_temperature = #{soilTemperature},
        soil_humidity = #{soilHumidity},
        insect_density = #{insectDensity},
        date_time = #{dateTime}
    </sql>

    <!-- 主键条件 -->
    <sql id="publicWhereKey">
        <!-- 		WHERE id = #{id}  -->
    </sql>

    <!-- 所有条件 -->
    <sql id="publicWhere">
        WHERE 1=1
        <if test="id != null and id != ''">
            AND datas.id = #{id}
        </if>
        <if test="airTemperature != null and airTemperature != ''">
            AND datas.air_temperature = #{airTemperature}
        </if>
        <if test="airHumidity != null and airHumidity != ''">
            AND datas.air_humidity = #{airHumidity}
        </if>
        <if test="carbonDioxide != null and carbonDioxide != ''">
            AND datas.carbon_dioxide = #{carbonDioxide}
        </if>
        <if test="soilTemperature != null and soilTemperature != ''">
            AND datas.soil_temperature = #{soilTemperature}
        </if>
        <if test="soilHumidity != null and soilHumidity != ''">
            AND datas.soil_humidity = #{soilHumidity}
        </if>
        <if test="insectDensity != null and insectDensity != ''">
            AND datas.insect_density = #{insectDensity}
        </if>
        <if test="dateTime != null and dateTime != ''">
            AND datas.date_time = #{dateTime}
        </if>
        <!-- *********************************时间范围查询拓展属性********************************* -->
        <if test="startTimeTIMESTAMP != null and startTimeTIMESTAMP != '' ">
            and datas.date_time >= #{startTimeTIMESTAMP}
        </if>
        <if test="endTimeTIMESTAMP != null and endTimeTIMESTAMP != '' ">
            and #{endTimeTIMESTAMP} >= datas.date_time
        </if>
    </sql>

    <!-- *********************************添加********************************* -->
    <!-- 新增 -->
    <insert id="insert" parameterType="DatasVO">
        INSERT INTO bamboo.datas (<include refid="publicInsertCol"/>)
        VALUES (<include refid="publicInCol"/>)
    </insert>

    <!-- *********************************修改********************************* -->
    <!-- 修改 -->
    <!--     <update id="updateSignTaskRec" parameterType="SignTaskRecVO" >  -->
    <!--         UPDATE activity.sign_task_rec SET <include refid="publicSet"/>  -->
    <!--         <include refid="publicWhereKey"/>   -->
    <!--     </update>  -->

    <!-- *********************************删除********************************* -->
    <!-- 删除 -->
    <!--     <delete id="delSignTaskRecByKey" parameterType="SignTaskRecVO" > -->
    <!--         DELETE FROM activity.sign_task_rec  -->
    <!-- 		<include refid="publicWhereKey"/>  -->
    <!--     </delete> -->

    <!-- *********************************查询********************************* -->
    <!-- 根据主键查询信息 -->
    <!--     <select id="findSignTaskRecByKey" parameterType="SignTaskRecVO" resultType="SignTaskRecVO" > -->
    <!-- 	    SELECT <include refid="publicOutCol"/>  FROM activity.sign_task_rec  -->
    <!-- 	    <include refid="publicWhereKey"/>  -->
    <!--     </select> -->

    <!-- 获取记录数 -->
    <select id="findCountByVo" parameterType="DatasVO" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM bamboo.datas
        <include refid="publicWhere"/>
    </select>

    <!-- 对象条件查询 -->
    <select id="findByPojo" parameterType="DatasVO" resultType="DatasVO">
        SELECT
        <include refid="publicOutCol"/>
        FROM bamboo.datas
        <include refid="publicWhere"/>
        order by dateTime ASC
    </select>

    <!-- map条件查询 -->
    <!--     <select id="findSignTaskRecByWhere"  parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
    <!-- 		SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec  -->
    <!-- 		<include refid="publicWhere"/> -->
    <!-- 		<if test="sortName != null and sortName != '' and orderName != null and orderName!=''">   -->
    <!-- 	        order by ${sortName}  ${orderName} -->
    <!-- 	    </if>   -->
    <!-- 	    <if test="pageStart != null and rows != null">   -->
    <!-- 	        LIMIT #{pageStart},#{rows} -->
    <!-- 	    </if>   -->
    <!--     </select> -->

    <!-- 查询分页记录 -->
    <select id="findByPage" parameterType="java.util.Map" resultType="DatasVO">
        SELECT
        <include refid="publicOutCol"/>
        FROM bamboo.datas
        <include refid="publicWhere"/>
        <if test="sortName != null and sortName != '' and orderName != null and orderName!=''">
            order by ${sortName} ${orderName}
        </if>
        <if test="pageStart != null and rows != null">
            LIMIT #{pageStart},#{rows}
        </if>
    </select>
    <!--     <select id="findSignTaskRecByPage"  parameterType="java.util.Map" resultType="SignTaskRecVO"> -->
    <!-- 		SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec  -->
    <!-- 		<include refid="publicWhere"/>  -->
    <!-- 		<if test="sortName != null and sortName != '' and orderName != null and orderName!=''">   -->
    <!-- 	        order by ${sortName}  ${orderName} -->
    <!-- 	    </if>   -->
    <!-- 		LIMIT #{pageStart},#{rows} -->
    <!--     </select> -->

    <!-- 根据条件获取列表信息 -->
    <!-- 	<select id="findSignTaskRecListByQueryStr" parameterType="java.lang.String" resultType="SignTaskRecVO" > -->
    <!-- 	    SELECT <include refid="publicOutCol"/> FROM activity.sign_task_rec WHERE 1=1  -->
    <!-- 	    <![CDATA[ -->
    <!-- 	    ${querySql} -->
    <!-- 	    ]]> -->
    <!--     </select> -->


</mapper>
